<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Image Search</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/functions.js"></script>
  <style>
  	body {
  		background-image: url("<%= imageUrl %>");
  		background-repeat: no-repeat;
  		background-size: cover;
  		text-align: center;
  	}
  </style>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>